Flask==2.2.3
langchain==0.0.309
openai==0.27.7
pydub==0.25.1
transformers==4.31.0
werkzeug==2.2.3
ffmpeg==1.4
ffprobe
flask-cors==4.0.0
google-cloud-storage
google-cloud-pubsub
google-cloud-firestore
google-cloud-secret-manager
google-auth
google-cloud-tasks
google-cloud-language
spacy